<%- include("./partials/header")%>
<head>
    <link rel="stylesheet" href="/public/css/test.css"
</head>
    <h1> Welcome to the world of Manthan Patel</h1>
    <h2> This is entire new universe with four dimension</h2>
    <h3> Now You can travel with time so now time lost its monetary value</h3>
<%- include("./partials/footer")%>