<%- include("./partials/header")%>
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Movie Search Application</h1>
        <p class="lead">This is a simple movie application for searching movie names along with extra information including ratings from reputed sources.</p>
        <hr class="my-4">
        <p>This is made by Manthan Patel, student at BITS Pilani pursuing B.E. Computer Science and MSc. Economics.</p>
        <a class="btn btn-primary btn-lg" href="/aboutme" role="button">Learn More</a>
      </div>
<%- include("./partials/footer")%>
